
.boxed-text {
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
}

p {
    line-height: 1.8;
}

h2 {
    margin-top: 20px;
}
