.event-wrapper {
  margin-top: 30px;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.event-item {
  background-color: #fafafa;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  flex: 1 1 400px;
  max-width: 400px;
  box-sizing: border-box;
}

.event-item:hover {
  transition: 0.6s;
  border: 1px solid #ff4a22;
}

.event-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.event-date {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.event-desc {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.event-organizer {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.event-location,
.event-category,
.event-date,
.event-price {
  font-size: 0.9em;
  color: #666;
}

.cta-button-event-list {
  display: inline-block;
  background-color: #ff4a22;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.cta-button-event-list:hover {
  background-color: #f0866e;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

dialog {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

label {
  font-size: 1em;
  color: #555;
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #dd4320;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #ff4a22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f4836a;
}

#search {
  max-width: 350px;
  display: inline;
  border-radius: 8px 0 0 8px;
}

.search-connect {
  padding: 10px;
  margin-top: 5px;
  background-color: grey;
  border: 1px solid grey;
  letter-spacing: .5px;
  border-radius: 0 8px 8px 0;
}

.search-connect:hover {
  border: 1px solid #f4836a;
}