.header-wrapper {
  background-color: #fff;
  position: sticky;
  top: 0;
}

header {
  padding: 15px 32px;
  max-width: 78rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 500;
  background-color: #fff;
  border-bottom: #f0f0f0 1px solid;
}

.logo-header {
  user-select: none;
}

.logo-header > a {
  text-decoration: none;
  color: #171717;
}

.logo-header-inner > p {
  display: inline;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75;
}

.logo-header-inner {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 5px 10px;
}

li a {
  text-decoration: none;
  color: #171717;
}

.nav-button-primary {
  background-color: #ff4a22;
  color: white;
  padding: 8px 15px;
  border-radius: 66px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0.5rem;
}

.nav-button-primary:hover {
  background-color: #ff6438;
}

.nav-button-secondary {
  color: #171717;
  padding: 8px 15px;
  border-radius: 66px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0.5rem;
}

.nav-button-secondary:hover {
  background-color: #f0f0f0;
}

header > div:nth-of-type(4) {
  display: none;
  cursor: pointer;
}

header > #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.overlay-content {
  padding: 2rem;
}

.overlay-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.overlay-content ul {
  display: block;
}

.overlay-content ul li {
  margin: 0 0 10px 0;
  padding: 5px 0;
  display: block;
  font-size: 1rem;
}

.overlay-content ul li a:hover {
  color: #ff4a22;
}

.overlay-content button {
  margin-top: 20px;
  padding: 10px 10vw;
  border: none;
  background-color: #ddd;
  border-radius: 55px;
  cursor: pointer;
  font-size: 16px;
}

.overlay-content button:hover {
  background-color: #eee;
}

.hidden {
  display: none;
}

.ic-profile-dropdown {
  position: absolute;
  right: 150px;
  top: 70%;
  margin-top: 8px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ic-dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ic-dropdown-item {
  padding: 8px 16px;
  font-size: 0.875rem;
  color: #374151;
  display: block;
  text-decoration: none;
}

.ic-dropdown-item:hover {
  background-color: #f3f4f6;
  border-radius: 8px;
}

@media (max-width: 650px) {
  header > div:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 470px) {
  header > div:nth-of-type(3) {
    display: none;
  }

  header > div:nth-of-type(4) {
    display: block;
  }
}
