
@media screen and (max-width: 550px) {
    .new-event-date-grid {
        grid-template-columns: 1fr !important;
    }
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.button-new {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.button-secondary-new {
    background-color: #f9f9f9 !important;
    color: #000000 !important;
    border: 1px solid #555 !important;
    padding: 6px 10px !important;
}

.button-secondary-new:hover {
    background-color: #555 !important;
    color: #f9f9f9 !important;
}

.tooltip {
    font-size: 0.8em;
    color: #777;
}

small {
    color: red;
}
