.subtitle-profile-detail {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: grey;
}

.data-item-profile-detail {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    text-transform: initial;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
}

.edit-button-profile {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ff4a22;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
    text-decoration: none;
}
