.centerBody {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.formCenter {
  width: 500px;
  margin: -10px auto 0 auto;
  padding: 0 20px;
}

.smallImageInForm {
  margin-bottom: 1.85rem;
}

.formbody > form > label {
  display: block;
  margin-top: 1.1rem;
  font-size: 0.85rem;
}

.formbody > form > input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: #e5e5e5 1px solid;
  background-color: #fafafa;
}

.formbody > form > button {
  font-family:
    Inter,
    Helvetica,
    Arial,
    Liberation Sans,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.snippetSignInfo {
  font-size: 0.85rem;
  line-height: 1.3;
  color: #737373;
}

.snippetSignInfo a {
  color: #3b82f6;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.signupSuccessMessage {
  color: #22c55e;
  font-weight: 500;
  margin-bottom: 30px;
}

.loginFailMessage,
.signupFailMessage {
  color: #ff4d4d;
  font-weight: 500;
  margin-bottom: 30px;
}
